@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* 
Fix CSS - notes sidebar changes with criminal changes

*/

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: rgb(0, 255, 0);
	font-family: 'Space Mono', monospace;
	font-size: 16px;
	line-height: 1.5;
}

h1,h3,h4,h5,h6 {
  font-family: 'Space Mono', monospace;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  color: rgb(0, 255, 0);
}


body {
  background-color: black;
}

.main-content {
  display: flex;
}

aside {
  border: 1.25px solid rgb(0, 255, 0);
  margin: 12px 0;
  padding: 20px;
}

.note {
  padding: 20px;
  border-bottom: 1px solid rgb(0, 255, 0);
  border-top: 1px solid rgb(0, 255, 0);
}

#showNotes {
  margin-bottom: 20px;
  width: 100%;
  background-color: rgb(0, 255, 0);
  border-style: none;
}

#showNotes:hover {
  background-color: rgb(133, 74, 252);
}

 /* What is this?? */
#showNotes:active {
  border-style: none;
}

.criminalsContainer {
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap; 
}

.criminal {
  border: 1.25px solid rgb(0, 255, 0);
  flex-basis: 23%;
  margin: 12px 0;
  padding: 50px; 
}

/* CRIME SELECT */
#crimeSelect {
  color: black;
}

/* OFFICER SELECT  */
#officerSelect {
  color: black;
}

/* SAVE NOTES BUTTON */

.noteFormContainer {
  display: flex;
  flex-direction: column; 
  width: 300px;
  margin-bottom: 20px;
}

#officer {
	margin-bottom: 5px;
}

#suspect {
	margin-bottom: 5px;

}
#message {

	margin-bottom: 5px;
} 

#saveNote {
  color: black;
}

/* SHOW NOTES BUTTON */
#showNotes {
  color: black;
}
